# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
*.egg
wheels/
pip-wheel-metadata/
share/python-wheels/
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.tox/
.nox/
.coverage*
.pytest_cache/
.hypothesis/
.coverage
coverage.xml

# Type checkers / linters caches
.mypy_cache/
.pytype/
.ruff_cache/
.pyright/

# Virtual environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs / Editors
.idea/
.vscode/
*.sublime-*

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
